Source: apollo1.11.6
Section: science
Priority: optional
Build-Depends:
Maintainer: Generic Model Organism Database Project <apollo@lists.lbl.gov>
Standards-Version: 3.8.3
Homepage: http://apollo.berkeleybop.org/current/index.html 

Package: apollo1.11.6
Architecture: amd64
Depends: default-jre
Description: The Apollo genome editor is a Java-based application for browsing and annotating genomic sequences.
